<div class="footer">
    <p><i class="material-icons">copyright</i>2018 Copyright of Vatsal Saglani <a href="mailto: youknowiamtrying@gmail.com" target="_blank"><i class="material-icons">email</i></a></p>
    
</div>