<div class="footer">
    <p><i class="far fa-copyright"></i>2018 Copyright of Vatsal Saglani <a href="mailto: youknowiamtrying@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a></p>
    
</div>